{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{super()}}
Welcome
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Flask</title>
</head>
<body>
    {% block content %}
    {% if username %}
        <h1>Welcome again {{username | capitalize}}</h1>
    {% endif %}    

    <ul>
    {% if user_ip %}
        <h3>Hello world form Flask with python, html and css your IP is: {{user_ip}} </h3>
    {% else %}
        <a href="{{url_for('index')}}">Go Home</a>
    {% endif %}

    </ul>
    <ol>
    {% for do in to_do_list %}
            {{macros.render_to_do(do)}}               
    {% endfor %}
    </ol>
    {% endblock %}
</body>
</html>

